@import '../../framework/assets/less/vars.less';
@import "../../framework/assets/less/layout";
@import "../../framework/assets/less/common";
@import "../../framework/assets/less/form";
@import "../../framework/assets/less/grid";


:root[theme="dark"] {
    --wc-text-color: var(--wc-color-dark-blue);
    --wc-link-active-color: var(--wc-color-primary);
    --wc-bg-color: @textLightColor;
}
